<h1>Listing Works with No Timpani or Percussion</h1>
<div class='pagination'>
  <strong>Jump to:</strong>
  <%- NoPerc.pagination_letters.each do |letter| -%>
    <%= link_to(letter, no_percs_path(:letter => letter)) %>
  <%- end -%>
</div>
<br/ >

<ul class="composers">
<% @composers.each do |composer, works| %>
  <li><h2><%= composer %></h2></li>
  <ul class="works">
    <% works.each do |work| %>
      <li><%= work.work_name %></li>
    <% end %>
  </ul>
  <% end %>
</ul>

<br />


<%= link_to 'Back to All Composers', composers_path(:letter => 'A') %>

