/* -----------------------------------------------

WOW Design Solutions Ltd
Author:  Glynn Williams
Created:  December 2007
Revision:  

----------------------------- */

body {font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:100%;
	margin:0;
	padding:0;
	font-size:80%;}
	
#Container {margin:0 auto;
	padding:0;
	border-top:3px solid #7F848F;
	border-left:3px solid #7F848F;
	border-right:3px solid #7F848F;
	width:774px;}
	
/*----------------------------- Header, Banner, MainColumn and Footer DIVs */

#Flags, #Header, #Banner, #MainColumn, #Notes {position:relative;
	background-color:#FFF;
	display:block;
	clear:none;
	padding:0;
	margin:0;}
#Header, #Banner, #Banner p, #Footer {width:774px;}
#Flags, #MainColumn, #Notes, #Footer {margin:0 auto;}
#Flags {width:770px;
	text-align:right;
	height:65px;}
#Header {height:137px;
	background:#FFF url(../images/percussion_orchestrations_header.jpg) no-repeat;}
#Banner {height:40px;
	padding-bottom:10px;
	background:#FFF url(../images/percussion_orchestrations_banner2.jpg) no-repeat top;}
#Banner p {float:left;
	top:17px;
	padding:0;
	margin:0;
	position:relative;
	text-align:center;}
#MainColumn {text-align:center;
	width:95%;
	padding:10px 0 0;}
#Notes {width:750px;}
#ClearBottom {height:1px;
	width:100%;
	clear:both;
	background-color:#FFF;}
#Footer {background-color:#8D2C06;
	border:3px solid #7F848F;
	color:#FFF;
	padding:2px 0 0;
	height:15px;
	font-size:80%;
	text-align:center;}
	
/*----------------------------- Tables */
#NoteType, #Choices {margin:5px auto 15px;
	padding:0;
	background-color:#FFF;}
#NoteType {width:100%;
	border:1px dotted #7F848F;}
#Choices {width:50%;
	border:none;
	border-collapse:collapse;}
th, td {padding:2px 5px;
	margin:0;}
th {background-color:#8D2C06;
	color:#FFF;}
td {background-color:#FFF;
	color:#8D2C06;}
#NoteType td {border:1px dotted #069;}
#Choices td {text-align:left;}