/* -----------------------------------------------

WOW Design Solutions Ltd
Author:  Glynn Williams
Created:  December 2007
Revision:  

----------------------------- */

a {color:#069;}
a:link, a:visited, a:hover, a:active, a.MainSiteLink:link, a.MainSiteLink:visited, a.MainSiteLink:active, a.FooterLinks:link, a.FooterLinks:visited, a.FooterLinks:active {text-decoration:none;}
	
a.MainSiteLink {font-size:120%;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#666;}

a.FooterLinks:link, a.FooterLinks:visited, a.FooterLinks:active {color:#FFF;}

a:hover, a.MainSiteLink:hover, a.FooterLinks:hover {text-decoration:underline;}
a:hover {color:#666;}
a.MainSiteLink:hover {color:#8D2C06;}
a.FooterLinks:hover {color:#EFEAE1;}

a.PreviewLink {font-size:120%;
	display:block;
	text-align:center;
	padding:5px;
	border:1px dotted #7F848F;
	background-color:#EFEAE1;}
	

.MainNavigation a, .ActiveLink a {line-height:20px;
	padding:0 10px 0;
	color:#8D2C06;
		display:block;
		font-size:110%;
		margin:0;
		width:169px;}
.HomeNavigation a {padding:58px 0px 0px 10px;
	background:#EFEAE1 url(../images/nav_home_up.jpg) no-repeat;
	background-position:center;
	color:#8D2C06;
	display:block;
	text-align:center;
	font-size:110%;
	margin:0;
	width:169px;}
.MainNavigation a:link, .MainNavigation a:visited, .MainNavigation a:hover, .MainNavigation a:active, .HomeNavigation a:link, .HomeNavigation a:visited, .HomeNavigation a:hover, .HomeNavigation a:active, .ActiveLink a:link, .ActiveLink a:visited, .ActiveLink a:hover, .ActiveLink a:active {background-color:#EFEAE1;
	text-decoration:none;}
.MainNavigation a:hover, .HomeNavigation a:hover {color:#000;
	text-decoration:none;}
.MainNavigation a:hover {background:#EFEAE1 url(../images/nav_over_wide.jpg) no-repeat;}
.HomeNavigation a:hover {background:#EFEAE1 url(../images/nav_home_over.jpg) no-repeat; background-position:center;}
.MainNavigation a.ActiveLink:link, .MainNavigation a.ActiveLink:visited, .MainNavigation a.ActiveLink:hover, .MainNavigation a.ActiveLink:active {background:#EFEAE1 url(../images/nav_active.jpg) no-repeat;
	color:#7F848F;}



/*Example CSS for the two demo scrollers*/

#pscroller1{
width: 540px;
height: 100px;
border: 1px solid black;
padding: 5px;
background-color: lightyellow;
}

#pscroller2{
width: 350px;
height: 20px;
border: 1px solid black;
padding: 3px;
}

#pscroller2 a{
text-decoration: none;
}

.someclass{ //class to apply to your scroller(s) if desired
}
	