/* -----------------------------------------------

WOW Design Solutions Ltd
Author:  Glynn Williams
Created:  December 2007
Revision:  

----------------------------- */

body {font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:100%;
	margin:0;
	padding:0;
	font-size:80%;}
	
#Container {margin:0 auto;
	padding:0;
	border:4px solid #7F848F;
	width:774px;
	height:674px;}
	
/*----------------------------- Header, Banner, MainColumn and Footer DIVs */

#Header, #MainNav, #Banner, #MainColumn, #LeftBar, #Navigation, {position:relative;
	background-color:#FFF;
	clear:none;
	padding:0;
	margin:0;}
	
	
#Header, #MainNav {width:774px;}


#Header {height:137px;
	background:#FFF url(../images/new_banner.jpg) no-repeat;
	border-bottom: 5px solid #8D2C06;}
	
#MainNav
{
	background: #7F848F;
	color: #EFEAE1;
	padding: 2px 0;
	margin-bottom: 0px;
	border-bottom: 5px solid #8D2C06;
}


#Menu {width:189px;
	height:487px;
	padding:20px 0px 0px 0px;
	float:right;
	
	text-align:center;
	
	background:#EFEAE1;
	border-left:4px solid #8D2C06;}
#Navigation {width:189px;
	float:right;
	left:20px;
	margin-bottom:10px;
	text-align:center;}
	

	
#Navigation p {margin:0;
	padding:0;
	}
#MainColumn {width:525px;
	float:left;
	height:467px;
	overflow:auto;
	padding:20px 20px 20px 20px;
	text-align:left;}

	
#Footer
	{
	clear:both;
	width:766px;
	color: #FFF;
	text-align: right;
	font-size: 80%;
	background-color:#8D2C06;
	padding: 4px;
	border-left:4px solid #7F848F;
	border-right:4px solid #7F848F;
	border-bottom: 4px solid #7F848F;
	}
	
