/* -----------------------------------------------

WOW Design Solutions Ltd
Author:  Glynn Williams
Created:  December 2007
Revision:  

----------------------------- */

/*----------------------------- tags */
body { background-color: #fff; color: #333; }


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


ul.composers {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ul.works {
  list-style: disc;
}



#MainColumn p {line-height:14pt;
	color:#666;
	margin:0;
	padding:0 0 10px;}
h1, h2, h3, h4 {font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	margin:0;
	padding:0 0 10px;}
h1 {font-size:150%;
	color:#8D2C06;}
h2 {font-size:135%;
	color:#333;}
h3 {font-size:120%;
	color:#666;}
h4 {font-size:105%;
	color:#8D2C06;}
strong {font-weight:bold;}
img {border:none;
	border-collapse:collapse;}
ul, ol, li {color:#7F848F;}
ul, ol {margin-top:0;
	margin-bottom:10px;}
#MainColumn li {padding:0 0 2px;}
blockquote {padding:5px 10px;
	color:#666;
	quotes: "“" "”" "‘" "’";
	background-color:#E4F1F7;
	font-style:italic;
	text-align:justify;
	border:1px dotted #7F848F;
	margin:0 0 4px;}
cite {color:#333;}
hr {margin:0.4em 0;
	border:0;
	color:#7F848F;
	background-color:#7F848F;
	height:1px;
	width:100%;}
acronym {cursor:help;
	text-decoration:none;
	color:#900;
	border-bottom:1px dotted #8D2C06;}
	
	#MainNav ul
	{
		margin: 0 0 0 20px;
		padding: 0;
		list-style-type: none;
		border-left: 1px solid #EFEAE1;
		text-align:left;
	}

	#MainNav li
	{
		display: inline;
		padding: 0 10px;
		border-right: 1px solid #EFEAE1;
	}

	#MainNav li a
	{
		text-decoration: none;
		color: #EFEAE1;
	}

	#MainNav li a:hover
	{
		text-decoration: none;
		color: #fff;
		background-color: #272900;
	}
	
.locale {
	
	padding-top: 3em;
}		


#Footer ul
	{
		margin: 0 0 0 200px;
		padding: 0;
		list-style-type: none;

	}

#Footer li
	{
		display: inline;
		padding: 0 10px;
		border-left: 1px solid #FFF;
		color: #FFF;
	}

#Footer li a
	{
		text-decoration: none;
		color: #FFF;
	}

#Footer li a:hover
	{
		text-decoration: underline;
		color: #fff;
	}
	
/*---------------------- text styles */
IntrPara {font-weight:bold;
	font-size:115%;}


	
