body {font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:100%;
	margin:0;
	font-size:100%;}

	a {color:#069;}
	a:link, a:visited, a:hover, a:active, a.MainSiteLink:link, a.MainSiteLink:visited, a.MainSiteLink:active, a.FooterLinks:link, a.FooterLinks:visited, a.FooterLinks:active {text-decoration:none;}
a:link { color: #B52C07; }
a:visited { color: #b93411; }
a:focus { color: #000; }
a:hover { color: #272900; }
a:active { color: red; }
a.FooterLinks:link, a.FooterLinks:visited, a.FooterLinks:active {color:#FFF;}
a.FooterLinks:hover {color:#EFEAE1;}
h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	padding:0 0 10px;}

	h1 {font-size:150%;
		color:#8D2C06;}
	h2 {font-size:135%;
		color:#333;}
	h3 {font-size:120%;
		color:#666;}
	h4 {font-size:105%;
		color:#8D2C06;}

/* ------------------------------
container styles
------------------------------ */

#container
{
	margin: 1em auto; 
	width:774px;
	text-align: left;
	background: #fff;
	border:3px solid #7F848F;
	
}

/* ------------------------------
header styles
------------------------------ */

#header
{
	height: 65px;
	width: 100%;
	position: relative;
	background: #FFF  no-repeat 0 0;
	border-bottom: 3px solid #8D2C06;
}

#header h1
{
	position: absolute;
	left: -500em;
}



/* ------------------------------
mainnav styles
------------------------------ */

#mainnav
{
	background: #7F848F;
	color: #EFEAE1;
	padding: 2px 0;
	margin-bottom: 22px;
	border-bottom: 3px solid #8D2C06;
}

#mainnav ul
{
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
	border-left: 1px solid #EFEAE1;
}

#mainnav li
{
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #EFEAE1;
}

#mainnav li a
{
	text-decoration: none;
	color: #EFEAE1;
}

#mainnav li a:hover
{
	text-decoration: none;
	color: #fff;
	background-color: #272900;
}

/* ------------------------------
menu styles
------------------------------ */

#menu
{
	float: right;
	width: 175px;
	background-color: #EFEAE1;
	padding-left: 15px;

}

a {color:#069;}	

#menu ul
{
	margin: 1em 0;
	padding: 0;
}

#menu ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

/* ------------------------------
contents styles
------------------------------ */

#contents
{
/*	float:right; */
	height:527px;
	overflow:auto; 
	padding:12px 0px 0px 0px;
	text-align:left;
	}
	
a:link {color: #666;}
	
	
.floatright
	{
	float: right;
	width: 220px;
	height: 220px;
	padding:10px 0px 0px 0px;
	
	}

p {line-height:14pt;
	color:#666;
	margin:0;
	padding:10px 30px 20px 30px;}
h1, h2, h3, h4 {font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	margin:0;
	padding:0 30px 10px 30px;}
h1 {font-size:150%;
	color:#8D2C06;}
h2 {font-size:135%;
	color:#333;}
h3 {font-size:120%;
	color:#666;}
h4 {font-size:105%;
	color:#8D2C06;}
strong {font-weight:bold;}
img {border:none;
	border-collapse:collapse;}
ul, ol, li {color:#7F848F;}
ul, ol {margin-top:0;
	margin-bottom:10px;}
	
table {padding:0 0px 10px 10px;}	
	
#contents li {padding:0 0 2px;}
blockquote {padding:5px 10px;
	color:#666;
	quotes: "ì" "î" "ë" "í";
	background-color:#E4F1F7;
	font-style:italic;
	text-align:justify;
	border:1px dotted #7F848F;
	margin:0 0 4px;}
cite {color:#333;}
hr {margin:0.4em 0;
	border:0;
	color:#7F848F;
	background-color:#7F848F;
	height:1px;
	width:100%;}
acronym {cursor:help;
	text-decoration:none;
	color:#900;
	border-bottom:1px dotted #8D2C06;}
a:link {color: #666;}	
	
/* ------------------------------
footer styles
------------------------------ */

#footer
{
	clear: both;
	color: #FFF;
	text-align: right;
	font-size: 80%;
	background-color:#8D2C06;
	padding: 5px;
	border-top: 3px solid #7F848F;
}

