<h1><%= I18n.t 'composers.title' %></h1>

<div class='pagination'>
  <strong><%= I18n.t 'composers.jump' %></strong>
  <%- Composer.pagination_letters.each do |letter| -%>
    <%= link_to(letter, composers_path(:letter => letter)) %>
  <%- end -%>
</div>
<br/ >
<table>

<% @composers.each do |composer| %>


  <tr>
    <td><%= link_to composer.composer_name, composer %></td>

  </tr>
<% end %>
</table>

