<h1>Register</h1>

<%= form_for(@user) do |f| %>
  
  <%= render 'fields', :f => f %>
  <%= render 'admin_fields', :f => f %>
  

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
