<h1>Pay by cheque</h1>

<p>Cheques should be made payable to Percussion Orchestrations Ltd. <p/>
<p>Please send your cheque of <strong>£30/$50/€35 for Individuals, part time Professional 
   Orchestras, Amateur or Youth Orchestras</strong> or <strong>£75/$120/€90 for 
   Organisations</strong> together with your name and email address to the 
   following address:</p>
   <p>
   <strong> Percussion Orchestrations</strong><br>
   30 Wyverne Road<br>
   Chorlton<br>
   Manchester<br>
   M21 0ZN<br>
   United Kingdom<br>
   <br>
   When your cheque has cleared you will then be emailed with instructions 
   on how to activate your account.</p>