<h1>Pay by direct credit transfer</h1>

<p>To pay by direct credit transfer Percussion Orchestrations bank details 
  are as follows:<br>
  <br>
  Account Name: Percussion Orchestrations Ltd<br>
  Account No: 91372041 Sortcode: 40-31-17<br>
  International Bank Account No: GB55MIDL40311791372041<br>
  Branch Identifier Code (BIC): MIDLGB2144P<br>
  <br>
  Once you have paid, then please send an email to <a href="mailto:mail@percorch.com">mail@percorch.com</a> 
  and you will be emailed with instructions on how to activate your account. 
  <br>
</p>