<h1>Pay by credit card</h1>

<p>Please select your preferred currency type:</p>

<p><%= link_to 'US Dollars', :action => "dollars" %><p />

<p><%= link_to 'Pounds Sterling ', :action => "pounds" %><p />

<p><%= link_to 'Euros', :action => "euros" %><p />
