<h1>Please select your membership type:</h1>

<p><%= link_to 'Organisations' %> (Professional Orchestras, Conservatories, Music Libraries, Universities)<br />
  $120 per year</p>
<p><%= link_to 'Part-Time Professional Orchestras' %> (12 concerts per year or less)<br />  
 $50 per year</p>
  
<p><%= link_to 'Amateur or Youth Orchestras' %><br /> $50 per year</p>
<p><%= link_to 'Individuals' %><br /> $50 per year</p>