  <p><b>Ed Cervenka</b>
  studied at the Royal Northern College of Music in Manchester, England, 
    and graduated in 1998 having gained the <acronym title="Graduate of the Royal Northern College of Music">GRNCM</acronym> 
    and <acronym title="Professional Performance of the Royal Northern College of Music">PPRNCM</acronym> 
    with Distinction. He is Principal Percussionist with Northern Sinfonia, 
    and also freelances as a Percussionist and Timpanist with orchestras all 
    over the UK including <acronym title="British Broadcasting Corporation">BBC</acronym> 
    Symphony Orchestra, City of Birmingham Symphony Orchestra, Birmingham Contemporary 
    Music Group, Royal Liverpool Philharmonic Orchestra, BBC Philharmonic Orchestra, 
    Northern Chamber Orchestra and Manchester Camerata, and has worked with 
    many of the world's leading conductors including Sir Simon Rattle, Vladimir 
    Ashkenazy, Sir Andrew Davis, Leonard Slatkin, Michael Tilson Thomas, Charles 
    Mackerras and Mark Elder.</p>
  <p>Ed has also become established as the leading cimbalom player of his generation. 
    He has performed the cimbalom part in Kodaly's Hary Janos Suite on some 
    30 occasions including with the London Philharmonic Orchestra at the Royal 
    Festival Hall, London, with the City of Birmingham Symphony Orchestra at 
    Symphony Hall, Birmingham, and with the Halle Orchestra at the Bridgewater 
    Hall, Manchester. He has also worked as a cimbalom player with the London 
    Symphony Orchestra, Philharmonia Orchestra, London Sinfonietta, BBC National 
    Orchestra of Wales and <acronym title="Radio Telef&iacute;s &Eacute;ireann">RTE</acronym> 
    Symphony Orchestra. Recordings include Dutilleux's Mystere de L'Instant 
    with the BBC Philharmonic, and Stravinsky's Ragtime with the European Solosists 
    Ensemble and Ashkenazy. He has also recorded a number of TV and Film soundtracks 
    including the ITV drama series <strong>Far from the Madding Crowd</strong>, 
    the second series of the BBC comedy <strong>The League of Gentlemen</strong>, 
    and the films <strong>Dogma</strong> with the <acronym title="London Philharmonic Orchestra">LPO</acronym> 
    and <strong>Simon Magus</strong>. More recently he recorded the solo cimbalom 
    part for the 2nd and 3rd <strong>Lord of the Rings</strong> films, again 
    with the LPO.</p>
