<h1>Free Trial</h1>

<p>For a free trial, you must start a subscription with paypal, which has a week's trial period. </p>

<p>This a no obligation trial, and if you cancel your subscription through paypal within the week trial period you will not be charged.</p>

<p>Please select your preferred currency type:</p>

<p><%= link_to 'US Dollars', :action => "dollars_trial" %><p />

<p><%= link_to 'Pounds Sterling ', :action => "pounds_trial" %><p />

<p><%= link_to 'Euros', :action => "euros_trial" %><p />
