<h1>Welcome to Percussion Orchestrations</h1>

<p>Percussion Orchestrations is the first ever extensive online database of Timpani and Percussion requirements for orchestral repertoire, which currently contains 6106 works by 561 different composers, and is continually being added to.</p>

<h1><%= link_to 'Click here for a free one week trial', :action => "free_trial" %></h1>


<table><tr><td>
<script language="JavaScript">if(document.layers){document.write('<ilayer id="ns4div" width="'+swidth+'" height="'+sheight+'" bgcolor='+sbcolor+'><layer id="ns4div1" width="'+swidth+'" height="'+sheight+'" onmouseover="sspeed=0;" onmouseout="sspeed=rspeed"></layer></ilayer>')}
if(document.getElementById||document.all){document.write('<div style="position:relative;overflow:hidden;width:'+swidth+'px;height:'+sheight+'px;clip:rect(0 '+swidth+'px '+sheight+'px 0);background-color:'+sbcolor+';" onmouseover="sspeed=0" onmouseout="sspeed=rspeed"><div id="iens6div" style="position:relative;width:'+swidth+'px;"></div></div>');}</script>
</td></tr></table>
<!-- End of code between BODY tags -->