<h1>Join</h1>
 
<p><%= link_to 'Click here to pay by credit card with Paypal', :action => "credit_card" %> </p>
<p><%= link_to 'Click here to pay by direct credit transfer', :action => "credit_transfer" %> </p>
<p><%= link_to 'Click here to pay by cheque', :action => "cheque" %> </p>

<h2>Subscription Rates</h2>
<p>Organisations (Professional Orchestras, Conservatories, Music Libraries, Universities)<br />
  $120/£75/€90 per year</p>
<p>Part-Time Professional Orchestras (12 concerts per year or less)<br />  
 $50/£30/€35 per year</p>
  
<p>Amateur or Youth Orchestras<br /> $50/£30/€35 per year</p>
<p>Individuals<br /> $50/£30/€35 per year</p> 

<p><strong>Please note that Timpanists and Percussionists who are members of
Professional full time orchestras qualify for this rate and not the Individual rate.</strong></p> 


<p>This gives full access to all the information on the site.</p>
