<h1>Subscription Rates</h1>
<p>Organisations (Professional Orchestras, Conservatories, Music Libraries, Universities)<br />
  $120/£75/€90 per year</p>
<p>Part-Time Professional Orchestras (12 concerts per year or less)<br />  
 $50/£30/€35 per year</p>
  
<p>Amateur or Youth Orchestras<br /> $50/£30/€35 per year</p>
<p>Individuals<br /> $50/£30/€35 per year</p> 
<p>This gives full access to all the information on the site.</p>
<p><strong>Please note that Timpanists and Percussionists who are members of
Professional full time orchestras qualify for the Organisation and not the Individual subscription rate.</p></strong>

<h1><%= link_to 'Click here to join', :action => "join" %></h1>