<h1><%= I18n.t 'welcome.contact.title' %></h1>
  <p><%= I18n.t 'welcome.contact.content1' %></p>
    <p>
    <strong>Percussion Orchestrations</strong><br>
    30 Wyverne Road<br>
    Chorlton<br>
    Manchester<br>
    M21 0ZN<br>
    <%= I18n.t 'welcome.contact.england' %><br>
    Tel: +44 161 881 4314<br>
	Mob: +44 7976 710175</p>
    <p>
    <%= I18n.t 'welcome.contact.content2' %> <a href="mailto:mail@percorch.com">mail@percorch.com</a></p>