<div id="Footer"><ul>
<li><%= link_to 'Terms & Conditions', terms_path %></li>
<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
<li>&copy; Copyright 2004-2011 Ed Cervenka</li>
</ul></div>